#home{
    width: 700px;
    height: auto;
    border: 5px solid #000000;
    margin: 0 auto;
    text-align: center;
}
#home img {
    width: 80px;
    height: 80px;
}

#home .imglist img {
    width: 120px;
    height: 120px;

}
#home .header {
    background: #00000070;
    color:#fff;
}
#home .content .menu {
    display:flex;
    align-content: center;
    padding: 5px 10px;
}
#home .content .menu .item {
    width: 25%;
    /* margin-right: 10px; */
    border: 1px solid #000000;
    height: 30px;
    line-height: 30px;
}
#home .content .userlist{
    height: 200px;
    border: 1px solid #000;
}